nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    text-decoration: none; 
    color: white;
    font-weight: bold;
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #00bcd4; /
}

#home{
    text-align: center;
}
#about{
    height: 500px;
    background-color: #00c6d4;
}

#services{
    height: 500px;
    background-color: #7dbac2;
}
#portfolio{
    height: 500px;
    background-color: #591ca3;
}
#contact{
    height: 500px;
    background-color: #1a8c4f;
}